fastapi
uvicorn
python-dotenv
pydantic
redis
apscheduler
pymysql
torch
transformers>=4.57.0,<5
accelerate

# AI & Vector DB
langchain
langchain-chroma
langchain-openai
chromadb

# Testing
pytest
pytest-asyncio
httpx
pytest-mock

# Monitoring
prometheus_fastapi_instrumentator
