fastapi
uvicorn
openai
python-dotenv
pydantic
konlpy
redis
apscheduler
pymysql

# AI & Vector DB
langchain
langchain-chroma
langchain-openai
chromadb

# Testing
pytest
pytest-asyncio
httpx
pytest-mock

# Monitoring
prometheus_fastapi_instrumentator
