name: DCBA CD Workflow

on:
  workflow_run: # 2개의 CI가 통과해야함.
    workflows: ["Python CI Workflow","Java CI Workflow"] 
    types: [completed] 
    branches: ["main"] 

jobs:
  deploy:
    # 실제 배포는 main에 push 되었을 때만 적용되도록
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main' &&
      github.event.workflow_run.event == 'push'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      # Docker Login
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}


      - name: Create .env
        run: echo ${secrets.ENV} | echo >> .env

      # Compose 잘 되는지 확인 (CI는 통과해도 Compose에서 막힐 수도 있으니까)ㄴ
      - name: Build and Verify
        run: |
          docker compose up -d --build --wait
          
          RUNNING_COUNT=$(docker compose ps --filter "status=running" -q | wc -l)
          
          if [ "$RUNNING_COUNT" -lt 4 ]; then
            echo "[Error] $RUNNING_COUNT containers are running. (Expected: 4)"
            docker compose ps # 뜬 컨테이너 확인
            docker compose logs # 에러 확인용 로그
            exit 1
          fi

          echo "[Success] All Containers are running"

          docker compose down

      # 성공했으면 업로드
      - name: Build and push Java App Image
        uses: docker/build-push-action@v5
        with:
          context: ./DCBA # Java 경로
          file: ./DCBA/Dockerfile # Dockerfile 경로
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/DCBA-java-app:latest
      - name: Build and push Image
        uses: docker/build-push-action@v5
        with:
          context: ./LLM-Server # Python Server 경로
          file: ./LLM-Server/Dockerfile # Dockerfile 경로
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/DCBA-llm-server:latest
            