name: Python CI/CD

on:
  push:
    branches: ["main", "LLM-Server"]
    paths:
      - "LLM-Server/**"
      - "!README.md"
  pull_request:
    branches: ["main"]
    paths:
      - "LLM-Server/**"
      - "!README.md"

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v "$(pwd):$(pwd)" -w "$(pwd)" rhysd/actionlint:latest

  python-ci:
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 3
    defaults:
      run:
        working-directory: ./LLM-Server
    steps:
      - uses: actions/checkout@v4
      - name: Python 3.12 Setting
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
          cache-dependency-path: './LLM-Server/requirements.txt'
      - name: Install Packages
        run: pip install -r requirements.txt
      - name: Execute Test
        env: #환경 변수 에러 방지용 빈 값 (사용하지 않을 것이기에 값이 필요 없음)
          EXAONE_API_KEY: "key"
          EXAONE_API_URL: "url"
          MODEL_NAME: "model_name"
        run: pytest tests

  python-cd:
    needs: python-ci
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' # main에 push일 때만 CD 수행
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Get Version 
        id: get_version
        run: |
          VERSION=$(cat VERSION)
          echo "VERSION=$VERSION" >> $GITHUB_ENV # x.x.x
          echo "MAJOR=$(echo $VERSION | cut -d. -f1)" >> $GITHUB_ENV # x
          echo "MINOR=$(echo $VERSION | cut -d. -f1,2)" >> $GITHUB_ENV # x.x
      - name: Build and push Python App Image
        uses: docker/build-push-action@v5
        with:
          context: ./LLM-Server
          file: ./LLM-Server/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/dcba-llm-server:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/dcba-llm-server:${{ env.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/dcba-llm-server:${{ env.MINOR }}
            ${{ secrets.DOCKERHUB_USERNAME }}/dcba-llm-server:${{ env.MAJOR }}
