name: Python CI Workflow

on:
  push:
    branches: ["main","LLM-Server"]
  pull_request:
    branches: ["main"]
    paths:
      - LLM-Server/**/*.py # Python File 수정
concurrency:
  group: ${{github.workflow}}-${{ github.event.pull_request.number || github.ref }}}}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint: # workflow 정적 검사
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v "$(pwd):$(pwd)" -w "$(pwd)" rhysd/actionlint:latest
  python_ci:
    needs: lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./LLM-Server
    timeout-minutes: 3 # test code가 1초 이내 이므로 짧게 설정
    steps:
      - uses: actions/checkout@v4
      - name: Python 3.12 Setting
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
          cache-dependency-path: './LLM-Server/requirements.txt'
      - name: Install Packages
        run: pip install -r requirements.txt
      - name: Execute Test
        env: #환경 변수 에러 방지용 빈 값 (사용하지 않을 것이기에 값이 필요 없음)
          EXAONE_API_KEY: "key"
          EXAONE_API_URL: "url"
          MODEL_NAME: "model_name"
        run: pytest tests